@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* color: rgb(1, 1, 37); */
/* color: rgb(0, 212, 212); */
/* color: #30c2fd; */

*, html {
    margin: 0;
    padding: 0; 
}

body {
    font-family: poppins;
    min-height: 100vh;
    background-color: whitesmoke;
}


/* header ( pwmbungkus navbar dan sosmed ) */
.navigation-bar {
    height: 15vh;
    width: 100%;
}

.background-navbar::before,
.background-navbar::after {
    position: absolute;
    z-index: -5;
}

.background-navbar::before {
    content: "";
    height: 0px;
    width: 35%;
    border-bottom: solid 79px white;
    border-right: solid 35px transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}

.background-navbar::after {
    content: "";
    height: 0px;
    width: 66%;
    border-top: solid 45px white;
    border-left: solid 20px transparent;
    position: absolute;
    top: 0px;
    right: 0px;
}

.deskripsi-brand-1 {
    display: block;
    font-size: 11px;
}

.deskripsi-brand-2 {
    display: none;
}

.sosmed {
    background-color: whitesmoke;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
/* navbar */
.navbar {
    z-index: 10;
    float: right;
}
.nav-link {
    color: rgb(1, 1, 37) !important; 
    transition: all .3s ease-in-out;
}

.nav-link:hover {
    color: gray !important;
}

.nav-active {
    font-weight: bold;
    border-bottom: 3px solid #4ba1ea;
    width: min-content;
}


/* carousel */
.carousel-inner {
    height: 85vh;
}

.absolute-carousel-text {
    position: absolute;
    top: 150px;
    left: 125px;    
}

.first-text-carousel {
    font-size: 40px;
    color: white;
    letter-spacing: 5px;
    line-height: 40px;
}

.second-text-carousel {
    font-size: 15px;
    color: white;
}

.button-carousel {
    padding: 10px;
    font-size: 13px;
    background-color: #30c2fd;
}

.left-icon-carousel {
    position: absolute;
    left: 0px;
}

.right-icon-carousel {
    position: absolute;
    right: 0px;
}
.carousel-control-prev, .carousel-control-next {
    width: 30px;
}



/* content-1 */
.card-collapse {
    width: 100%;
    height: 80vh;
}

.card-content-2 {
    transition: all .2s ease-in-out;
}

.card-content-2:hover {
    background-color: #161A4F;
    color: white;
}

.pemasaran {
    background-color: #fff; 
    padding: 15px; 
    width: 495px;
}
.pemasaran:hover {
    background-color: #161A4F;
    color: white;
}

.dropdown .none1::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 20px;
    margin-top: 10px;
    content: url(/aset/arrow-removebg-preview.png);
    border: 0;
}
.dropend .none2 {
    transition: all .2s ease-in-out;
}
.dropend .none2:hover {
    background-color: #161A4F;
    color: white;
}
.dropend .none2::after {
    display: none;
}



/* footer */
.nav-item-wrap {
    margin-top: 35px;
}

.footer-link-hover .nav-link {
    width: max-content;
}

.footer-link-hover a {
    color: #53589D !important;
}
.footer-link-hover a:hover {
    color: rgb(199, 195, 195);
}
.link-wrap {
    display: flex;
    justify-content: start;
    align-items:center;
    position: relative;
    color: #53589D;
}
.link {
    position: absolute;
    left: 60px;
}
.wrap-sosmed {
    background-color: #53589D;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsapp,
.instagram,
.facebook,
.youtube,
.gmail {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}
.whatsapp::after,
.instagram::before,
.facebook::after,
.youtube::after,
.gmail::after {
    content: "";
    transition: .4s ease-out;
    border-radius: 10px;
    color: rgb(1, 1, 37);;
    font-size: 14px;
    font-weight: bold;
}
.whatsapp:hover:after,
.instagram:hover::before,
.facebook:hover:after,
.gmail:hover:after,
.youtube:hover:after {
    content: "";
    width: max-content;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #53589D;
    padding-left: 10px;
    padding-right: 10px;
}

.whatsapp:hover::after {
    content: "0813 9359 9132";
}

.instagram:hover::before {
    content: "adirealty__";
}

.facebook:hover::after {
    content: "Ady Realty";
}

.youtube:hover::after {
    content: "Adi Realty";
}

.gmail:hover::after {
    content: "adirealty22@gmail.com";
}



@media (max-width: 768px) {
    /* header responsive */
    .background-navbar::before {
        width: 45%;
    }
    .background-navbar::after {
        width: 55%;
    }
    .logo img {
        height: 30px;
    }
    .brand {
        font-size: 15px;
        position: absolute;
        top: 16px;
        left: 10px;
    }
    .deskripsi-brand-1 {
        display: none;
        font-size: 10px;
    }
    .deskripsi-brand-2 {
        display: block;
        font-size: 10px;
    }
    .location-wrapper marquee, .location-wrapper img {
        display: none;
    }
    .location-sosmed-navbar {
        width: 100%;
    }
    .nav-link {
        color: white !important;
    }
    .navbar-light .navbar-toggler-icon {
        height: 20px;
        width: 20px;
    }

    /* carousel */
    .carousel-inner {
        height: auto;
    }
    .absolute-carousel-text {
        position: absolute;
        top: 120px;
        left: 70px;    
    }
    
    .first-text-carousel {
        font-size: 25px;
        letter-spacing: 5px;
        line-height: 30px;
    }
    
    .second-text-carousel {
        font-size: 15px;
    }
    
    .button-carousel {
        padding: 5px;
        font-size: 10px;
    }

    /* content 2 */
    

}

@media (max-width: 575px) {
    /* header responsive */
    .navigation-bar {
        max-height: 13vh;
        margin-bottom: 3px;
    }
    .change-mt {
        margin-top: 10px;
    }
    .background-navbar::before {
        width: 50%;
    }
    .background-navbar::after {
        width: 49%;
    }
    .brand img {
        height: 20px;
    }
    .nama-brand {
        font-size: 15px !important;
    }
    .deskripsi-brand {
        font-size: 10px;
    }
    .sosmed-wrapper img {
        height: 15px;
    }
    .sosmed {
        margin-left: 5px;
        padding: 5px;
    }
    .navbar-light .navbar-toggler-icon {
        height: 15px;
        width: 15px;
    }

    /* carousel */
    .absolute-carousel-text {
        top: 35px;
        left: 50px;    
    }
    
    .first-text-carousel {
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 20px;
    }
    
    .second-text-carousel {
        font-size: 10px;
    }
    
    .button-carousel {
        padding: 5px;
        font-size: 10px;
    }
    .small-text {
        font-size: 15px;
    }
    .smaller-text {
        font-size: 15px;
    }
}